<%= form_for @listing do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :guest %>
    <%= f.number_field :guest %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :check_in %>
    <%= f.date_select :check_in, data:{ provide:'datepicker' } %>
  </div>

  <div>
    <%= f.label :check_out %>
    <%= f.date_select :check_out, data:{ provide:'datepicker' } %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
