<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<label for="Listing Calendar">Select check in date</label>
  <%= form_for :search, method: :get do |f| -%>

      <%= f.select :start_date, options_for_select( [['Check In Date','indate']]) -%>
      <%= f.date_field :start_date -%>
      <%= f.submit 'Search' -%>

  <% end -%>

<div id="index-view-table">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Value</th>
        <th>Price</th>
        <th>Guest</th>
        <th>Created by</th>
        <th>Check-in Date</th>
        <th>Check-out Date</th>
        <th>Description</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @listings.each do |listing| %>
        <% if listing.sale == nil %>
        <tr>
          <td class="clickable-link"><%= link_to listing.title, listing %></td>
          <td class="value"><%= "$#{listing.value}" %></td>
          <td><%= "$#{listing.price}" %></td>
          <td><%= listing.guest %></td>
          <td class="clickable-link"><%= link_to "#{listing.seller.name} (#{listing.seller.email})", user_path(listing.seller) %></td>
          <td><%= listing.check_in %></td>
          <td><%= listing.check_out %></td>
          <td><%= listing.description.truncate(250) %></td>
          <% if listing.photo.attached? %>
          <td class="index-image"><%= image_tag listing.photo%> <%= button_to "Book", listing_sales_path(listing), {:class => "btn-primary btn-block" } %> </td>
          <% else %>
          <td class="index-image"><%= image_tag src="http://kalaharilifestyle.com/wp-content/uploads/2014/04/placeholder4.png" %> <%= button_to "Book", listing_sales_path(listing), {:class => "btn-primary btn-block" } %> </td>
          <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= will_paginate @listings %>
<%= page_entries_info @listings %> <br>
<br>
