<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<label for="Listing Calendar">Select check in date</label>
  <%= form_for :search, method: :get do |f| -%>

      <%= f.select :start_date, options_for_select( [['Check In Date','indate']]) -%>
      <%= f.date_field :start_date -%>
      <%= f.submit 'Search' -%>

  <% end -%>

<div id="index-view-table">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Value</th>
        <th>Price</th>
        <th>Guest</th>
        <th>Created by</th>
        <th>Check-in Date</th>
        <th>Check-out Date</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @listings.each do |listing| %>
        <% if listing.sale == nil %>
        <tr>
          <td><%= link_to listing.title, listing %></td>
          <td><%= "$#{listing.value}" %></td>
          <td><%= "$#{listing.price}" %></td>
          <td><%= listing.guest %></td>
          <td><%= "#{listing.seller.name} (#{listing.seller.email})" %></td>
          <td><%= listing.check_in %></td>
          <td><%= listing.check_out %></td>
          <td><%= listing.description.truncate(27) %></td>
          <% if listing.photo.attached? %>
          <td><%= image_tag listing.photo, size: "300x200" %></td>
          <% else %>
          <td><%= image_tag src="https://semantic-ui.com/images/wireframe/image.png", size: "300x200" %></td>
          <% end %>
          <td><%= button_to "Book", listing_sales_path(listing), {:class => "btn btn-primary" } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= will_paginate @listings %>
<%= page_entries_info @listings %> <br>
<br>
