<h1>Listings</h1>


<%# Iterate over active listings (future and unsold listings). Display listing
title, description, category, price, value, check in, check out, guests, and a
link to the show page of the user who posted the listing %>

<ol>
  <% @active_listings.each do |listing| %>
    <li><%= listing.title %></li>
    <ul>
    <li>Description: <%= listing.description %></li>
    <li>Category: <%= listing.category.label %></li>
    <li>Value: $<%= listing.value.round %></li>
    <li>Price: $<%= listing.price.round %></li>
    <li>Check in: <%= listing.display_check_in %></li>
    <li>Check out: <%= listing.display_check_out %></li>
    <li>Guests: <%= listing.guests %></li>
    <li>Posted by: <%= link_to listing.user.username, "/users/#{listing.user.username}" %></li>
    </ul>
    <br>
    <% end %>
</ol>
