<h1>Listings</h1>

<ol>
  <% @active_listings.each do |listing| %>
    <li><%= listing.description %></li>
    <p>Value: <%= listing.price %></p>
    <p>Price: <%= listing.value %></p>
    <p>Start Date: <%= listing.display_start_date %></p>
    <p>End Date: <%= listing.display_end_date %></p>
    <p>Guests: <%= listing.guests %></p>
    <p>Posted by: <%= link_to listing.user.name, "/user/#{listing.user.id}" %></p>
    <% end %>
</ol>
