<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<label for="Listing Calendar">Select check in date</label>
  <%= form_for :search, method: :get do |f| -%>

      <%= f.select :start_date, options_for_select( [['Check In Date','indate']]) -%>
      <%= f.date_field :start_date -%>
      <%= f.submit 'Search' -%>

  <% end -%>

<div id="index-view-table">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Created By</th>
        <th>Value</th>
        <th>Price</th>
        <th>Guest</th>
        <th>Title</th>
        <th>Check In Date</th>
        <th>Check Out Date</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @listings.each do |listing| %>
        <% if listing.sale == nil %>
        <tr>
          <td><%= "#{listing.seller.name} (#{listing.seller.email})" %></td>
          <td><%= "$#{listing.value}" %></td>
          <td><%= "$#{listing.price}" %></td>
          <td><%= listing.guest %></td>
          <td><%= link_to listing.title, listing %></td>
          <td><%= listing.check_in %></td>
          <td><%= listing.check_out %></td>
          <td><%= listing.description.truncate(27) %></td>
          <%# <% if listing.photos.attached? %>
              <%# <!-- <td><%= image_tag listing.photos.first, size: "100x70" %>
          <%# <% end %>
          <td><%= button_to "Book", listing_sales_path(listing) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<% unless @listings.empty? %>
  <%= will_paginate @listings %>
<% end %>
<%= page_entries_info @listings %> <br>
<br>
