<body class="listing-view-page">
<div class="w3-container">
  <div class="w3-row">
    <div class="w3-col s4 w3-left">
        <h4>Seller</h4>
        <p><%= "#{@listing.seller.name} (#{@listing.seller.email})" %></p>
        <h4>Value(Original Price)</h4>
        <p class="value"><%= "$#{@listing.value}" %></p>
        <h4>Price</h4>
        <p><%= "$#{@listing.price}"  %></p>
        <h4>Number of Guests</h4>
        <p><%= @listing.guest %></p>
        <h4>Check In Date</h4>
        <p><%= @listing.check_in %></p>
        <h4>Check Out Date</h4>
        <p><%= @listing.check_out %></p>
        <br>
        <% if @listing.seller_id == current_user.id && !@listing.sale && @listing.check_out > Time.now.strftime('%a, %d %b %Y').to_date %>
          <h4><%= button_to 'Edit', edit_listing_path(@listing), {method: :get} %> <%= button_to 'Delete', @listing, method: :delete, data: { confirm: 'Confirm delete?' } %>
        <% end %> </h4>
        <p class="book-button">
        <% if !@listing.sale %>
          <%= button_to "Book", listing_sales_path(@listing), {:class => "btn btn-primary btn-block" } %>
        <% end %>
        </p>
      </div>
    <div class="w3-col s8 w3-center">
      <% if @listing.photo.attached? %>
      <p><%= image_tag @listing.photo %></p></div>
      <% else %>
      <p><%= image_tag src="https://semantic-ui.com/images/wireframe/image.png" %></p>
      <% end %>
  </div>
</div>
<h4>Description</h4>
<p><%= @listing.description %></p>
