<p><h4><%= flash[:notice] %></h4></p>

<h1> <%= "#{current_user.name}'s Analytics" %> </h1>

<label>Total Sales</label>
<%= @total_sales %><br>
<label>Total Spent</label>
<%= @total_spent %><br>
<label>Largest Discount</label>
<%= @largest_discount %><br>
<label>Average Discount</label>
<%= @average_discount %><br>
<label>Total Saved</label>
<%= @total_saved %>
<label>Average Guests</label>
 <%= @average_guests %>
