<p><h4><%= flash[:notice] %></h4></p>

 <h1 align="center"> <%= "#{current_user.name}'s Analytics" %> </h1>
 <div class="container">
 <table class="table table-hover table-dark">
   <style>
   table {
   text-align: center;
   vertical-align: center;
   font-size: 20px;
   }
   th {
     width:300px;
     height:200px;
   }
   </style>
   <br>
   <tr>
     <th>Total Sales
       <br>
       $<%= current_user.total_sales %> </th>
     <th>Total Spent
       <br>
       $<%= current_user.total_spent %></th>
     <th>Largest Discount
       <br>
       $<%= current_user.largest_discount %>
     </th>
   </tr>
   <tr>
     <th>Average Discount
       <br>
       $<%= current_user.average_discount %> </th>
     <th>Total Saved
       <br>
       $<%= current_user.total_saved %></th>
     <th>Average Guests
       <br>
       <%= current_user.average_guests %> guests
     </th>
   </tr>
 </div>
 </table>
 <p><h4><%= flash[:notice] %></h4></p>
