<p><h4><%= flash[:notice] %></h4></p>
<body class="analytics-background">
<div class="analytics-contanier">
    <div class="w3-row">
      <div class="w3-col s12 w3-light-grey w3-center-analytics-header"><p><%= "#{current_user.name}'s Analytics" %></p></div>
    </div>
    <div class="w3-row">
      <% if current_user.total_sales > 0 %>
      <div class="w3-col s3 w3-white w3-center"><p>Total Sales</p></div>
      <div class="w3-col s7 w3-green w3-center"><p>$<%= current_user.total_sales %></p></div>
      <% else %>
      <div class="w3-col s3 w3-white w3-center"><p>Total Sales</p></div>
      <% end %>
    </div>
    <div class="w3-row">
      <% if current_user.total_spent > 0 %>
      <div class="w3-col s3 w3-white w3-center"><p>Total Spent</p></div>
      <div class="w3-col s9 w3-blue w3-center"><p>$<%= current_user.total_spent %></p></div>
      <% else %>
      <div class="w3-col s3 w3-white w3-center"><p>Total Spent</p></div>
      <% end %>
    </div>
    <div class="w3-row">
      <% if current_user.largest_discount > 0 %>
      <div class="w3-col s3 w3-white w3-center"><p>Largest Discount</p></div>
      <div class="w3-col s8 w3-deep-orange w3-center"><p>$<%= current_user.largest_discount %></p></div>
      <% else %>
      <div class="w3-col s3 w3-white w3-center"><p>Largest Discount</p></div>
      <% end %>
    </div>
    <div class="w3-row">
      <% if current_user.average_discount.round(2) > 0 %>
      <div class="w3-col s3 w3-white w3-center"><p>Average Discount</p></div>
      <div class="w3-col s7 w3-green w3-center"><p>$<%= current_user.average_discount.round(2) %></p></div>
      <% else %>
      <div class="w3-col s3 w3-white w3-center"><p>Average Discount</p></div>
      <% end %>
    </div>
    <div class="w3-row">
      <% if current_user.total_saved > 0 %>
      <div class="w3-col s3 w3-white w3-center"><p>Total Saved</p></div>
      <div class="w3-col s9 w3-blue w3-center"><p>$<%= current_user.total_saved %></p></div>
      <% else %>
      <div class="w3-col s3 w3-white w3-center"><p>Total Saved</p></div>
      <% end %>
    </div>
    <div class="w3-row">
      <% if current_user.average_guests.round(2) > 0 %>
      <div class="w3-col s3 w3-white w3-center"><p>Average Guests</p></div>
      <div class="w3-col s6 w3-deep-orange w3-center"><p><%= current_user.average_guests.round(2) %></p></div>
      <% else %>
      <div class="w3-col s3 w3-white w3-center"><p>Average Guests</p></div>
      <% end %>
    </div>
  </div>
</body>
