<p><h4><%= flash[:notice] %></h4></p>

<h1> <%= "#{current_user.name}'s Analytics" %> </h1>

<label>Total Sales</label>
<%= current_user.total_sales %><br>
<label>Total Spent</label>
<%= current_user.total_spent %><br>
<label>Largest Discount</label>
<%= current_user.largest_discount %><br>
<label>Average Discount</label>
<%= current_user.average_discount %><br>
<label>Total Saved</label>
<%= current_user.total_saved %>
<label>Average Guests</label>
 <%= current_user.average_guests %>
