<body class="update-profile-background">
<div class="update-profile-box">
  <h1>Update profile</h1>
  <font color="red"<p><%= flash[:notice] %></p></font>
  <% flash[:notice] = "" %>
  <br>
  <%= bootstrap_form_for @user do |f| %>
    <%= f.text_field :name %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>

    <%= f.submit "Save" %>
  <% end %>
</div>
</body>
