<h4><%= flash[:notice] %></h4>

<h2 class="user-profile-header">User Profile</h2>

<div class="w3-row">
  <div class="w3-col s3 w3-left">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ3wpVMabV3NjszpbcmckzH0JntyZeRG-NlPwLaYESyCOJrYN7"/>
  </div>

  <div class="w3-col s2">
    <h4>Name: <%= @user.name %></h4>
    <h4>Email: <%= @user.email %></h4>

    <% if current_user == User.find(params[:id]) %>
      <%= button_to 'Update profile', edit_user_path, method: :get %>
    <% end %>
  </div>

  <div class="w3-col s7 w3-right">
    <h4>Listings</h4>
    <% if @user.active_listings.length != 0 %>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Value</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th>Sold</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        <tbody>
          <% @user.active_listings.each do |listing| %>
            <tr>
              <td><%= link_to listing.title, listing %></td>
              <td><%= "$#{listing.price}" %></td>
              <td><%= "$#{listing.value}" %></td>
              <td><%= listing.check_in %></td>
              <td><%= listing.check_out %></td>
              <td><% if listing.status %> <%= "\u2713" %> <%else%> <%= " " %> <% end  %></td>
              <%# <% if listing.photos.attached? %>
                  <%# <!-- <td><%= image_tag listing.photos.first, size: "100x70" %>
              <%# <% end %>
              <td><%= link_to 'Edit', edit_listing_path(listing) %> | <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= button_to "Create a Listing", new_listing_path, method: :get%>
    <% end %>


    <% if current_user == User.find(params[:id]) %>

    <h4 class="user-table-header">Trips</h4>

    <% if @user.active_trips.length != 0 %>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Value</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user.active_trips.each do |listing| %>
            <tr>
              <td><%= link_to listing.title, listing %></td>
              <td><%= "$#{listing.price}" %></td>
              <td><%= "$#{listing.value}" %></td>
              <td><%= listing.check_in %></td>
              <td><%= listing.check_out %></td>
              <%# <% if listing.photos.attached? %>
                  <%# <!-- <td><%= image_tag listing.photos.first, size: "100x70" %>
              <%# <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= button_to "Buy a Listing!", listings_path, method: :get%>
    <% end %>

    <h4 class="user-table-header">Past Listings</h4>

    <% if @user.past_listings.length != 0 %>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Value</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th>Sold</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user.past_listings.each do |listing| %>
            <tr>
              <td><%= link_to listing.title, listing %></td>
              <td><%= "$#{listing.price}" %></td>
              <td><%= "$#{listing.value}" %></td>
              <td><%= listing.check_in %></td>
              <td><%= listing.check_out %></td>
              <td><% if listing.status %> <%= "\u2713" %> <%else%> <%= " " %> <% end  %></td>
              <%# <% if listing.photos.attached? %>
                  <%# <!-- <td><%= image_tag listing.photos.first, size: "100x70" %>
              <%# <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No Past Listings</p>
    <% end %>

    <h4 class="user-table-header"> Past Trips</h4>

    <% if @user.past_trips.length != 0 %>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Value</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user.past_trips.each do |listing| %>

            <tr>
              <td><%= link_to listing.title, listing %></td>
              <td><%= "$#{listing.price}" %></td>
              <td><%= "$#{listing.value}" %></td>
              <td><%= listing.check_in %></td>
              <td><%= listing.check_out %></td>
              <%# <% if listing.photos.attached? %>
                  <%# <!-- <td><%= image_tag listing.photos.first, size: "100x70" %>
              <%# <% end %>

            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No Past Trips</p>
    <% end %>

    <% end %>
  </div>
</div>
