USER PROFILE

<%# TO DO - REFACTOR %>

<% if current_user.id == params[:id].to_i %>
<p>Name: <%= current_user.name %></p>
<p>Email: <%= current_user.email %></p>
<% else %>
<p>Name: <%= @other_user.name %></p>
<p>Email: <%= @other_user.email %></p>
<%  end %>

<h1>My Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Value</th>
      <th>Check In Date</th>
      <th>Check Out Date</th>
      <th>Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @active_listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, listing %></td>
        <td><%= "$#{listing.price}" %></td>
        <td><%= "$#{listing.value}" %></td>
        <td><%= listing.check_in %></td>
        <td><%= listing.check_out %></td>
        <td><% if listing.status %> <%= "\u2713" %> <%else%> <%= " " %> <% end  %></td>
        <%# <% if listing.photos.attached? %>
            <%# <!-- <td><%= image_tag listing.photos.first, size: "100x70" %>
        <%# <% end %>
        <td><%= link_to 'Edit', edit_listing_path(listing) %> | <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>My Stays</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Value</th>
      <th>Check In Date</th>
      <th>Check Out Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_active_bought_listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, listing %></td>
        <td><%= "$#{listing.price}" %></td>
        <td><%= "$#{listing.value}" %></td>
        <td><%= listing.check_in %></td>
        <td><%= listing.check_out %></td>
        <%# <% if listing.photos.attached? %>
            <%# <!-- <td><%= image_tag listing.photos.first, size: "100x70" %>
        <%# <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Past Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Value</th>
      <th>Check In Date</th>
      <th>Check Out Date</th>
      <th>Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_past_listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, listing %></td>
        <td><%= "$#{listing.price}" %></td>
        <td><%= "$#{listing.value}" %></td>
        <td><%= listing.check_in %></td>
        <td><%= listing.check_out %></td>
        <td><% if listing.status %> <%= "\u2713" %> <%else%> <%= " " %> <% end  %></td>
        <%# <% if listing.photos.attached? %>
            <%# <!-- <td><%= image_tag listing.photos.first, size: "100x70" %>
        <%# <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Past Stays</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Value</th>
      <th>Check In Date</th>
      <th>Check Out Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_past_stays.each do |listing| %>

      <tr>
        <td><%= link_to listing.title, listing %></td>
        <td><%= "$#{listing.price}" %></td>
        <td><%= "$#{listing.value}" %></td>
        <td><%= listing.check_in %></td>
        <td><%= listing.check_out %></td>
        <%# <% if listing.photos.attached? %>
            <%# <!-- <td><%= image_tag listing.photos.first, size: "100x70" %>
        <%# <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
